body {
    font-family: Lato;
  }
  .notification {
    height: 20px;
    padding: 5px 20px;
    background: white;
    transition: background 0.5s;
  }
  .notification.active {
    background: yellow;
  }
  .new-item > input {
    margin-left: 20px;
    margin-right: 5px;
  }
  .new-list {
    margin-top: 10px;
    border-top: solid 1px lightgray;
    padding-top: 5px;
  }
  
  a {
    text-decoration: underline;
    color: blue;
    font-size: 0.8em;
    cursor: pointer;
  }
  
  .navi {
    display: block;
    list-style: none;
    padding: 0;
  }
  
  .navi li {
    display: inline-block;
    background: lightgray;
    padding: 3px 10px;
    margin-right: 1px;
  }
  
  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .controls a {
    margin-right: 0.5em;
  }